@tailwind base;
@tailwind components;
@tailwind utilities;

textarea::placeholder {
  color: #cbcbcb;
}
textarea {
  outline: none;
  border: none;
  caret-color: black;
  color: #cbcbcb;
}

.flex-col {
  display: flex;
}

body {
  color: white;
}
